{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "OMS V10 Order Swagger Definition"
  },
  "host": "old-rattlesnake-93.loca.lt",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/smcfs/restapi/order": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "_loginid",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "admin"
          },
          {
            "name": "_token",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "tGwksqDCZFPqUSGKsD1DItJphsXi9oRyiRd2A7ej6pguzklx5HB7uG3naTjSZGIt21"
          },
		  {
            "description": "The identifier of the scheduling rule to be used while checking inventory availability.  If not passed, the allocation rule with the ID 'SYSTEM' for the enterprise is used. If the allocation rule with the ID 'SYSTEM' is not found, the allocation rule with the ID 'SYSTEM' for the enterprise 'DEFAULT' is used.",
            "in": "query",
            "name": "AllocationRuleID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ApproverUserID",
            "required": false,
            "type": "string"
          },
          {
            "description": "The smallest expiration date of currently valid expirations. This field is used by the system payment processing agents. Any transaction having a financial implication will set this date to current system date. This field is used as a trigger by payment processing agents to create charge and authorization reqeusts.",
            "in": "query",
            "name": "AuthorizationExpirationDate",
            "required": false,
            "type": "string"
          },
          {
            "description": "The owner channel of the order.",
            "in": "query",
            "name": "AuthorizedClient",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "AutoCancelDate",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.",
            "in": "query",
            "name": "BillToID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "BillToIDQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Mark For Node as identified by the buyer for eg: it could be a person,store,DC.",
            "in": "query",
            "name": "BuyerMarkForNodeId",
            "required": false,
            "type": "string"
          },
          {
            "description": "The buyer organization that is associated with this order. This must be a valid organization defined in the system.",
            "in": "query",
            "name": "BuyerOrganizationCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "BuyerOrganizationCodeQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Receiving node as identified by the buyer for eg:Store,DC Number.",
            "in": "query",
            "name": "BuyerReceivingNodeId",
            "required": false,
            "type": "string"
          },
          {
            "description": "This is the User Id of the customer for which order is created. This field maps to User_Id field of YFS_Customer_Contact.",
            "in": "query",
            "name": "BuyerUserId",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "BuyerUserIdQryType",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "CallingOrganizationCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "The account number of the customer with the carrier.",
            "in": "query",
            "name": "CarrierAccountNo",
            "required": false,
            "type": "string"
          },
          {
            "description": "The carrier service code for this order.",
            "in": "query",
            "name": "CarrierServiceCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "The PO number of the customer's customer. In some situations, this may need to be printed on the actual packaging.",
            "in": "query",
            "name": "CustCustPONo",
            "required": false,
            "type": "string"
          },
          {
            "description": "This is the customer contact ID for the order. This field maps to contact ID field of YFS_Customer_Contact.",
            "in": "query",
            "name": "CustomerContactID",
            "required": false,
            "type": "string"
          },
          {
            "description": "The E-mail ID of the customer.",
            "in": "query",
            "name": "CustomerEMailID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "CustomerEMailIDQryType",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "CustomerFirstName",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "CustomerLastName",
            "required": false,
            "type": "string"
          },
          {
            "description": "The PO number of the customer. For purchase orders, this can be used for storing the purchase order number of the purchasing system if that number is not already stored as part of the order number.",
            "in": "query",
            "name": "CustomerPONo",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "CustomerPhoneNo",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier of the customer's rewards number",
            "in": "query",
            "name": "CustomerRewardsNo",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "CustomerZipCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether this order is to be used as the default template. For this order to be used as a default template, the document type of the order being created should be configured to set the template document type as this orders document type.",
            "in": "query",
            "name": "DefaultTemplate",
            "required": false,
            "type": "string"
          },
          {
            "description": "The organization that pays the freight charges. For example, SUPPLIER, ENTERPRISE, and MARKETPLACE. However, you could pass any other value which is a valid shipment charge type as understood by the carrier by which the shipment is transported. See YFS_SHIPMENT_CONTAINER.carrier_payment_type for additional information.",
            "in": "query",
            "name": "DeliveryCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field can be used for order classification and reporting purposes.",
            "in": "query",
            "name": "DepartmentCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "DisplayLocalizedFieldInLocale",
            "required": false,
            "type": "string"
          },
          {
            "description": "The order classification attribute. This field can be used for reporting purposes. Sterling Selling And Fulfillment Suite system has no logic based on this field.",
            "in": "query",
            "name": "Division",
            "required": false,
            "type": "string"
          },
          {
            "description": "The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.",
            "in": "query",
            "name": "DocumentType",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether the order is yet to be confirmed. Order lines can only be deleted from the system in draft stage. This flag is not applicable for Quotes.",
            "in": "query",
            "name": "DraftOrderFlag",
            "required": false,
            "type": "string"
          },
          {
            "description": "The system or sales person who created the order.",
            "in": "query",
            "name": "EnteredBy",
            "required": false,
            "type": "string"
          },
          {
            "description": "The enterprise that is associated with this order.",
            "in": "query",
            "name": "EnterpriseCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "The channel through which this order was created.",
            "in": "query",
            "name": "EntryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The date by which the quote has to be accepted by customer. This only applies to Quotes. The expiration date is computed by the expiration policy before presenting a quote to the customer. The expiration date is computed by adding EXPIRATION_PERIOD rule to the current date. The expiration date can also be updated before presenting to the customer. If the date is overridden, further computations of the date are ignored and the overridden expiration date is published on the quote for the customer.",
            "in": "query",
            "name": "ExpirationDate",
            "required": false,
            "type": "string"
          },
          {
            "description": "Indicates Freight Terms for the order.",
            "in": "query",
            "name": "FreightTerms",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromBillToID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromBuyerOrganizationCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromBuyerUserId",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromCustomerEMailID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromHoldReasonCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromOrderDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromOrderHeaderKey",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromOrderName",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromOrderNo",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromPaymentStatus",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromPriceProgramKey",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromReceivingNode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromReqDeliveryDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromReqShipDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromSearchCriteria1",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromSearchCriteria2",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromSellerOrganizationCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromShipNode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromShipToID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "FromStatus",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether the order has any derived children.",
            "in": "query",
            "name": "HasDerivedChild",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether the order has any derived parent.",
            "in": "query",
            "name": "HasDerivedParent",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether the order or any order line is on hold. If the order is on hold, default configuration will stop the scheduling and release process for the order.",
            "in": "query",
            "name": "HoldFlag",
            "required": false,
            "type": "string"
          },
          {
            "description": "The reason code for putting the order on hold.",
            "in": "query",
            "name": "HoldReasonCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "HoldReasonCodeQryType",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "IgnoreOrdering",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether invoicing is done for the entire order.",
            "in": "query",
            "name": "InvoiceComplete",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether the expiration date is overridden or whether it is computed by the default expiration policy. The value is Y if expiration date is overridden. This flag only applies to Quotes.",
            "in": "query",
            "name": "IsExpirationDateOverridden",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "LatestFirst",
            "required": false,
            "type": "string"
          },
          {
            "description": "Indicates the level of service required for this order.  Default is Null.",
            "in": "query",
            "name": "LevelOfService",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is used to link an order of a different document classification to this order record. e.g. Order header key of the quote is stored in this column.",
            "in": "query",
            "name": "LinkedSourceKey",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies the Maximum Number of records to be returned. Default is 500.",
            "in": "query",
            "name": "MaximumRecords",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field provides details on notifications based on the notification type. For example, for notification type 'e-mail' this would be the e-mail address. This field is not used within the application.",
            "in": "query",
            "name": "NotificationReference",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is not used within the application. It is published with events so that external decisions can be made based on it.",
            "in": "query",
            "name": "NotificationType",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is not currently used.",
            "in": "query",
            "name": "NotifyAfterShipmentFlag",
            "required": false,
            "type": "string"
          },
          {
            "description": "The opportunity that is associated with this order. It is the primary key of the YFS_OPPORTUNITY table.",
            "in": "query",
            "name": "OpportunityKey",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether the order has reached the end of its processing lifecycle.",
            "in": "query",
            "name": "OrderComplete",
            "required": false,
            "type": "string"
          },
          {
            "description": "The date on which the order was taken. If not passed during order creation, it is defaulted to current system date.",
            "in": "query",
            "name": "OrderDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "OrderDateQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The primary key for the YFS_ORDER_HEADER table.",
            "in": "query",
            "name": "OrderHeaderKey",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "OrderHeaderKeyQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The name given to the order.",
            "in": "query",
            "name": "OrderName",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "OrderNameQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The number of the order, which can be passed during order creation or generated based on a system rule setting.",
            "in": "query",
            "name": "OrderNo",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "OrderNoQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The order classification attribute. This field can be used for reporting purposes or to build conditions for modeling your business process. Sterling Selling And Fulfillment Suite system has no default logic based on this field.",
            "in": "query",
            "name": "OrderType",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is used by Sterling Multi-Channel Selling Solution.",
            "in": "query",
            "name": "OriginalContainerKey",
            "required": false,
            "type": "string"
          },
          {
            "description": "The payment rule that is associated with this order. All decisions on payment handling are controlled by this rule.",
            "in": "query",
            "name": "PaymentRuleId",
            "required": false,
            "type": "string"
          },
          {
            "description": "The information about the payment status of the order.",
            "in": "query",
            "name": "PaymentStatus",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "PaymentStatusQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The code that describes the personalization required for the order.",
            "in": "query",
            "name": "PersonalizeCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "The price program that is associated with this order.",
            "in": "query",
            "name": "PriceProgramKey",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "PriceProgramKeyQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is used by Sterling Multi-Channel Selling Solution.",
            "in": "query",
            "name": "PricingClassificationCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "The priority code of the order. External logic can be built for prioritizing orders.",
            "in": "query",
            "name": "PriorityCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "The numeric priority code as opposed to alphanumeric field PRIORITY_CODE.",
            "in": "query",
            "name": "PriorityNumber",
            "required": false,
            "type": "string"
          },
          {
            "description": "The date that this order should be purged from the history table. If set, this date will override the date determined based on the History Purge Lead Days.",
            "in": "query",
            "name": "PurgeHistoryDate",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is passed out in the tax calculation user exits.",
            "in": "query",
            "name": "Purpose",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ReadFromHistory",
            "required": false,
            "type": "string"
          },
          {
            "description": "The node an order is to be shipped to.",
            "in": "query",
            "name": "ReceivingNode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ReceivingNodeQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The requested cancel date. If this date is in the future, the order will be scheduled only up to this date. If this date is in the past, the order can be scheduled for shipping today as long as it has not been cancelled already. The order line level cancel date overrides this attribute.",
            "in": "query",
            "name": "ReqCancelDate",
            "required": false,
            "type": "string"
          },
          {
            "description": "The requested delivery date. This date is stamped on order lines (as requested delivery date) during order creation if no requested delivery date was passed at the order line level.",
            "in": "query",
            "name": "ReqDeliveryDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ReqDeliveryDateQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The date the customer has requested the order to be shipped on. Based on the 'Driver Date' parameter of the document type, the ship date or delivery date will be calculated based on transit time calculations (if not passed at order creation).",
            "in": "query",
            "name": "ReqShipDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ReqShipDateQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The carrier assigned to the order.",
            "in": "query",
            "name": "SCAC",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.",
            "in": "query",
            "name": "SearchCriteria1",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "SearchCriteria1QryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.",
            "in": "query",
            "name": "SearchCriteria2",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "SearchCriteria2QryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The seller organization that is associated with this order. This must be a valid organization defined in the system.",
            "in": "query",
            "name": "SellerOrganizationCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "SellerOrganizationCodeQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ship node at which this order will be fulfilled.",
            "in": "query",
            "name": "ShipNode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ShipNodeQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier of the ship to customer.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.",
            "in": "query",
            "name": "ShipToID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ShipToIDQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is used by Sterling Multi-Channel Selling Solution.",
            "in": "query",
            "name": "SoldToKey",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is deprecated.",
            "in": "query",
            "name": "SourceKey",
            "required": false,
            "type": "string"
          },
          {
            "description": "This field is internal. Validate value is 'Quote'.",
            "in": "query",
            "name": "SourceType",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "Status",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "StatusQryType",
            "required": false,
            "type": "string"
          },
          {
            "description": "This flag indicates whether the buyer is extempt from paying taxes.",
            "in": "query",
            "name": "TaxExemptFlag",
            "required": false,
            "type": "string"
          },
          {
            "description": "The buyer's tax exemption certificate.",
            "in": "query",
            "name": "TaxExemptionCertificate",
            "required": false,
            "type": "string"
          },
          {
            "description": "The tax jurisdiction of the buyer.",
            "in": "query",
            "name": "TaxJurisdiction",
            "required": false,
            "type": "string"
          },
          {
            "description": "The identifier of the buyer.",
            "in": "query",
            "name": "TaxPayerId",
            "required": false,
            "type": "string"
          },
          {
            "description": "The terms code of the order. This is passed on to the invoice and published with the invoice.",
            "in": "query",
            "name": "TermsCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToBillToID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToBuyerOrganizationCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToBuyerUserId",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToCustomerEMailID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToHoldReasonCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToOrderDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToOrderHeaderKey",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToOrderName",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToOrderNo",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToPaymentStatus",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToPriceProgramKey",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToReceivingNode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToReqDeliveryDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToReqShipDate",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToSearchCriteria1",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToSearchCriteria2",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToSellerOrganizationCode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToShipNode",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToShipToID",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ToStatus",
            "required": false,
            "type": "string"
          },
          {
            "description": "the sum of all the credit and debit memos issued against this order.",
            "in": "query",
            "name": "TotalAdjustmentAmount",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "TransactionId",
            "required": false,
            "type": "string"
          },
          {
            "description": "Request a specific range of records. Sample value: 'items=20-39'",
            "in": "header",
            "name": "Range",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderList"
            }
          }
        },
        "description": "",
        "operationId": "get_order_order",
        "summary": "Invokes the getOrderList API"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "_loginid",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "admin"
          },
          {
            "name": "_token",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "tGwksqDCZFPqUSGKsD1DItJphsXi9oRyiRd2A7ej6pguzklx5HB7uG3naTjSZGIt21"
          },
		  {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Order"
            }
          }
        },
        "description": "",
        "operationId": "post_order_order",
        "summary": "Invokes the createOrder API"
      }
    },
    "/smcfs/restapi/order/{id}": {
      "delete": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "_loginid",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "admin"
          },
          {
            "name": "_token",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "tGwksqDCZFPqUSGKsD1DItJphsXi9oRyiRd2A7ej6pguzklx5HB7uG3naTjSZGIt21"
          },
		  {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "description": "",
        "operationId": "delete_order_order_x",
        "summary": "Invokes the deleteOrder API"
      },
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Order"
            }
          }
        },
        "description": "",
        "operationId": "get_order_order_x",
        "summary": "Invokes the getOrderDetails API"
      },
      "patch": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "description": "Unique identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Order"
            }
          }
        },
        "description": "",
        "operationId": "patch_order_order_x",
        "summary": "Invokes the changeOrder API"
      }
    }
  },
  "definitions": {
    "com.ibm.sterling.smcfs.order.AddedAwards": {
      "properties": {
        "Award": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Award"
        },
        "TotalNumberOfRecords": {
          "description": "Number of Added Awards on the Order.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AdditionalAddress": {
      "properties": {
        "AddressType": {
          "description": "Identifies the type of address. Part of unique key",
          "type": "string"
        },
        "EntityAddressKey": {
          "description": "Primary key attribute of YFS_ENTITY_ADDRESS.",
          "type": "string"
        },
        "EntityKey": {
          "description": "Link to the entity table",
          "type": "string"
        },
        "EntityParentKey": {
          "description": "Link to the entity's parent table. Denormalized data to allow faster access of records for all addresses attached with the parent. In case of an order line address, this would store order header key",
          "type": "string"
        },
        "EntityType": {
          "description": "Identifies the entity to  which this address is attached to",
          "type": "string"
        },
        "PersonInfo": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.PersonInfo"
        },
        "PersonInfoKey": {
          "description": "Link to YFS_PERSON_INFO table that stores the actual address",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AdditionalAddresses": {
      "properties": {
        "AdditionalAddress": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.AdditionalAddress"
          },
          "type": "array"
        },
        "NumberOfAdditionalAddresses": {
          "description": "The number of additional addresses associated with the\n\t\t\t\t\t\torder.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AdditionalAttribute": {
      "properties": {
        "AdditionalAttributeKey": {
          "description": "Primary key attribute of YFS_ADDITIONAL_ATTRIBUTE.",
          "type": "string"
        },
        "AttributeDomainID": {
          "description": "The unique identification of the attribute domain.",
          "type": "string"
        },
        "AttributeGroupID": {
          "description": "The unique identification of the attribute group.",
          "type": "string"
        },
        "DoubleValue": {
          "description": "The value of the assigned attribute whose data type is 'DECIMAL'.",
          "type": "string"
        },
        "IntegerValue": {
          "description": "The value of the assigned attribute whose data type is 'INTEGER'.",
          "type": "string"
        },
        "IsInherited": {
          "description": "This field indicates whether the assignment of attribute value as additional attribute was based on inheritance. For ParentTable='YFS_CATEGORY', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the upper level category. For ParentTable='YFS_ITEM', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the category to which the item belongs.",
          "type": "string"
        },
        "Name": {
          "description": "Name of the dynamic attribute.",
          "type": "string"
        },
        "Value": {
          "description": "Value of the attribute.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AdditionalAttributeList": {
      "properties": {
        "AdditionalAttribute": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.AdditionalAttribute"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AdditionalLinePrice": {
      "properties": {
        "AdditionalLinePriceKey": {
          "description": "Primary key attribute of the YFS_ADDNL_LINE_PRICE table.",
          "type": "string"
        },
        "Awards": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Awards"
        },
        "ExtendedPrice": {
          "description": "ExtendedPrice of the AdditionalLinePrice for this OrderLine. Equal to the Price of the additional line times ActualPricingQuantity.",
          "type": "string"
        },
        "IsPriceLocked": {
          "description": "Indicates that the Price for this Price Type is locked and is specified in the input.",
          "type": "string"
        },
        "IsPriceTypeForInformationOnly": {
          "description": "Flag to indicate that his Price Type is for informational use only.",
          "type": "string"
        },
        "Operation": {
          "type": "string"
        },
        "OrderLineKey": {
          "description": "Primary key attribute of the YFS_ORDER_LINE table.",
          "type": "string"
        },
        "Price": {
          "description": "Price value of the corresponding Price Type.",
          "type": "string"
        },
        "PriceTypeName": {
          "description": "Price Type associated with this record.",
          "type": "string"
        },
        "Promotions": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Promotions"
        },
        "RecurringType": {
          "description": "Recurring Interval for Price Type; if null, then Price Type is non-recurring.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AdditionalLinePriceSummary": {
      "properties": {
        "LinePriceFrequencyList": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LinePriceFrequencyList"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AdditionalLinePrices": {
      "properties": {
        "AdditionalLinePrice": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.AdditionalLinePrice"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AllowedModifications": {
      "properties": {
        "Modification": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Modification"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AllowedTransactions": {
      "properties": {
        "Transaction": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Transaction"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AlternateUOM": {
      "properties": {
        "Height": {
          "description": "Height of an item with this alternate UOM.",
          "type": "string"
        },
        "HeightUOM": {
          "description": "Unit of measure in which item height is measured.",
          "type": "string"
        },
        "IsOrderingUOM": {
          "description": "Indicates if UOM can be used as ordering unit of measure.",
          "type": "string"
        },
        "ItemKey": {
          "description": "Item for which alternate UOM is being maintained.",
          "type": "string"
        },
        "ItemUOMKey": {
          "description": "Primary key attribute of YFS_ITEM_UOM.",
          "type": "string"
        },
        "Length": {
          "description": "Length of an item for with alternate UOM.",
          "type": "string"
        },
        "LengthUOM": {
          "description": "Unit of measure in which an item length is measured.",
          "type": "string"
        },
        "Quantity": {
          "description": "Conversion quantity to the inventory UOM.",
          "type": "string"
        },
        "UnitOfMeasure": {
          "description": "Alternate UOM applicable for the Item.",
          "type": "string"
        },
        "Weight": {
          "description": "Weight of an item with this alternate UOM.",
          "type": "string"
        },
        "WeightUOM": {
          "description": "Unit of measure in which a package's weight is measured.",
          "type": "string"
        },
        "Width": {
          "description": "Width of an item for with alternate UOM.",
          "type": "string"
        },
        "WidthUOM": {
          "description": "Unit of measure in which an item's width is measured.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AlternateUOMList": {
      "properties": {
        "AlternateUOM": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.AlternateUOM"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.Answer": {
      "properties": {
        "Action": {
          "type": "string"
        },
        "AnswerSetTranKey": {
          "description": "The answer set for this answer.",
          "type": "string"
        },
        "AnswerTranKey": {
          "description": "Primary key of answer tran.",
          "type": "string"
        },
        "AnswerValue": {
          "description": "The answer for the question.",
          "type": "string"
        },
        "QuestionID": {
          "description": "Identifier for the question that this answer is for.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AnswerSet": {
      "properties": {
        "Action": {
          "type": "string"
        },
        "AnswerSetTranKey": {
          "description": "Primary key of answer set tran.",
          "type": "string"
        },
        "Answers": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Answers"
        },
        "PersonInfoKey": {
          "description": "The person info record this answer set is stored for.",
          "type": "string"
        },
        "PrimaryTableName": {
          "description": "The name of the table which stores the record of the primary owner of this answer set.",
          "type": "string"
        },
        "PrimaryTableRefKey": {
          "description": "The key for the primary owner of this answer set.",
          "type": "string"
        },
        "QuestionType": {
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.AnswerSets": {
      "properties": {
        "AnswerSet": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.AnswerSet"
          },
          "type": "array"
        },
        "TotalNumberOfRecords": {
          "description": "Number of answer sets in the Order.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.Answers": {
      "properties": {
        "Answer": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Answer"
          },
          "type": "array"
        },
        "Reset": {
          "description": "Indicates if all existing child node definition in the database need to be scrapped and have only these definitions supplied in the XML.",
          "type": "string"
        },
        "TotalNumberOfRecords": {
          "description": "Number of answer sets in the Order.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.Attribute": {
      "properties": {
        "Extended": {
          "description": "Determines whether the attribute is an extended field. If this attribute\n\t\t\t\t\t\t\t\tis not available, then it means the attribute is not extended.",
          "type": "string"
        },
        "ModificationType": {
          "description": "Modification Type used for changing the attribute",
          "type": "string"
        },
        "Name": {
          "description": "Name of the Attribute Changed",
          "type": "string"
        },
        "NewValue": {
          "description": "New Value of the attribute modified",
          "type": "string"
        },
        "OldValue": {
          "description": "Old Value of the attribute modified",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.Attributes": {
      "properties": {
        "Attribute": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Attribute"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.Award": {
      "properties": {
        "Action": {
          "type": "string"
        },
        "AdditionalLinePriceKey": {
          "description": "Primary key attribute of the YFS_ADDNL_LINE_PRICE table.",
          "type": "string"
        },
        "AwardAmount": {
          "description": "The amount of discount or charge that was applied as a part of this award.",
          "type": "string"
        },
        "AwardApplied": {
          "description": "A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied",
          "type": "string"
        },
        "AwardId": {
          "description": "A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.",
          "type": "string"
        },
        "AwardKey": {
          "description": "The primary key of the YFS_PROMOTION_AWARD table.",
          "type": "string"
        },
        "AwardQuantity": {
          "description": "Indicates the remaining free gift quantity available for the promotion.",
          "type": "string"
        },
        "AwardType": {
          "description": "The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.",
          "type": "string"
        },
        "ChargeCategory": {
          "description": "The charge category of the LineCharge or HeaderCharge for which this award was created.",
          "type": "string"
        },
        "ChargeName": {
          "description": "The charge name of the LineCharge or HeaderCharge for which this award was created.",
          "type": "string"
        },
        "DenialReason": {
          "description": "If the award is denied, the reason for the denial.",
          "type": "string"
        },
        "Description": {
          "description": "A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.",
          "type": "string"
        },
        "IsFreeGiftAward": {
          "description": "Indicates that the award is associated with a free gift rule.",
          "type": "string"
        },
        "IsManual": {
          "description": "Indicates that the award is associated to a Manual Line or Rule modification.",
          "type": "string"
        },
        "IsPromotionOnOrder": {
          "description": "Determines whether the Award was created for a\n\t\t\t\t\t\t\tPromotion\n\t\t\t\t\t\t\ton the order.",
          "type": "string"
        },
        "IsPromotionOnOrderLine": {
          "description": "Determines whether the Award was created for a\n\t\t\t\t\t\t\t\t\tPromotion\n\t\t\t\t\t\t\t\t\ton the order line.",
          "type": "string"
        },
        "PosReasonCode": {
          "description": "Reason this promotion was applied.",
          "type": "string"
        },
        "PricingRule": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.PricingRule"
        },
        "PromotionId": {
          "description": "This identifies the promotion that is added to this order.",
          "type": "string"
        },
        "PromotionKey": {
          "description": "The promotion this award belongs to.",
          "type": "string"
        },
        "PromotionReferences": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.PromotionReferences"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.Awards": {
      "properties": {
        "Award": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Award"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.BundleComponent": {
      "properties": {
        "Item": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Item"
        },
        "PrimeLineNo": {
          "description": "The order line number.",
          "type": "string"
        },
        "SubLineNo": {
          "description": "The sub line number.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.BundleComponents": {
      "properties": {
        "BundleComponent": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.BundleComponent"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.BundleOverallTotals": {
      "properties": {
        "GrandCharges": {
          "type": "string"
        },
        "GrandDiscounts": {
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.BundleParentLine": {
      "properties": {
        "Action": {
          "type": "string"
        },
        "OrderLineKey": {
          "description": "The primary key for the YFS_ORDER_LINE table.",
          "type": "string"
        },
        "PrimeLineNo": {
          "description": "The order line number.",
          "type": "string"
        },
        "SubLineNo": {
          "description": "The sub line number.",
          "type": "string"
        },
        "TransactionalLineId": {
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.BuyerContactAddress": {
      "properties": {
        "AddressID": {
          "description": "A user specified label for an address.",
          "type": "string"
        },
        "AddressLine1": {
          "description": "The address line 1 field.",
          "type": "string"
        },
        "AddressLine2": {
          "description": "The address line 2 field.",
          "type": "string"
        },
        "AddressLine3": {
          "description": "The address line 3 field.",
          "type": "string"
        },
        "AddressLine4": {
          "description": "The address line 4 field.",
          "type": "string"
        },
        "AddressLine5": {
          "description": "The address line 5 field.",
          "type": "string"
        },
        "AddressLine6": {
          "description": "The address line 6 field.",
          "type": "string"
        },
        "AlternateEmailID": {
          "description": "The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.",
          "type": "string"
        },
        "Beeper": {
          "description": "The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.",
          "type": "string"
        },
        "City": {
          "description": "The city in the address.",
          "type": "string"
        },
        "Company": {
          "description": "The company this person is associated with.",
          "type": "string"
        },
        "Country": {
          "description": "The country in the address.",
          "type": "string"
        },
        "DayFaxNo": {
          "description": "The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.",
          "type": "string"
        },
        "DayPhone": {
          "description": "The day time phone at which the person or organization referred to in the address can be called.",
          "type": "string"
        },
        "Department": {
          "description": "The primary department in charge of procurement.",
          "type": "string"
        },
        "EMailID": {
          "description": "The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.",
          "type": "string"
        },
        "EveningFaxNo": {
          "description": "The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.",
          "type": "string"
        },
        "EveningPhone": {
          "description": "The evening time phone at which the person or organization referred to in the address can be called.",
          "type": "string"
        },
        "FirstName": {
          "description": "The first name of the person.",
          "type": "string"
        },
        "IsAddressVerified": {
          "description": "This flag indicates whether or not the address in this record has been verified by an address verification program. Intended for future use.",
          "type": "string"
        },
        "IsCommercialAddress": {
          "description": "Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.",
          "type": "string"
        },
        "JobTitle": {
          "description": "The job title of the person.",
          "type": "string"
        },
        "LastName": {
          "description": "The last name of the person.",
          "type": "string"
        },
        "Latitude": {
          "description": "The latitude of this location.",
          "type": "string"
        },
        "Longitude": {
          "description": "The longitude of this location.",
          "type": "string"
        },
        "MiddleName": {
          "description": "The middle name of the person.",
          "type": "string"
        },
        "MobilePhone": {
          "description": "The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.",
          "type": "string"
        },
        "OtherPhone": {
          "description": "The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.",
          "type": "string"
        },
        "PersonID": {
          "description": "The unique identifier for a person.",
          "type": "string"
        },
        "PersonInfoKey": {
          "description": "The primary key for the YFS_PERSON_INFO table.",
          "type": "string"
        },
        "State": {
          "description": "The state in the address.",
          "type": "string"
        },
        "Suffix": {
          "description": "The suffix for a person, such as Jr., or Sr.",
          "type": "string"
        },
        "TaxGeoCode": {
          "description": "The tax geo code for this location. Intended for future use.",
          "type": "string"
        },
        "Title": {
          "description": "The title for the person such as Ms., Mr., or Dr..",
          "type": "string"
        },
        "ZipCode": {
          "description": "The zip code in the address.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.CapacityAllocation": {
      "properties": {
        "AllocatedCapacity": {
          "description": "Allocation capacity",
          "type": "string"
        },
        "CapacityReference": {
          "description": "Capacity reference",
          "type": "string"
        },
        "PromisedApptEndDate": {
          "description": "Promised appointment end date",
          "type": "string"
        },
        "PromisedApptStartDate": {
          "description": "Promised appointment start date",
          "type": "string"
        },
        "ResourcePoolKey": {
          "description": "Link to YFS_RES_POOL table.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.CapacityAllocations": {
      "properties": {
        "CapacityAllocation": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.CapacityAllocation"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.Category": {
      "properties": {
        "CategoryID": {
          "description": "The unique identifier for this category.",
          "type": "string"
        },
        "CategoryKey": {
          "description": "The primary key for the YFS_CATEGORY table.",
          "type": "string"
        },
        "CategoryPath": {
          "description": "The path for the category.",
          "type": "string"
        },
        "OrganizationCode": {
          "description": "The code for the organization this category is associated with.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.CategoryList": {
      "properties": {
        "Category": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Category"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.ChainedFrom": {
      "properties": {
        "DocumentType": {
          "description": "The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.",
          "type": "string"
        },
        "EnterpriseCode": {
          "description": "The enterprise that is associated with this order.",
          "type": "string"
        },
        "OrderHeaderKey": {
          "description": "The order header that this order line is associated with.",
          "type": "string"
        },
        "OrderLineKey": {
          "description": "The primary key for the YFS_ORDER_LINE table.",
          "type": "string"
        },
        "OrderNo": {
          "description": "The order number that this order line is chained from.",
          "type": "string"
        },
        "PrimeLineNo": {
          "description": "The order line number.",
          "type": "string"
        },
        "SubLineNo": {
          "description": "The sub line number.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.ChainedFromOrderLine": {
      "properties": {
        "Action": {
          "type": "string"
        },
        "AdditionalAddresses": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.AdditionalAddresses"
        },
        "AdditionalLinePrices": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.AdditionalLinePrices"
        },
        "AllocationDate": {
          "description": "The date when this line will be allocated. This is calculated at order creation time, based on the node processing time. This field is not used from version 50 onwards. The  field is used instead.",
          "type": "string"
        },
        "AllocationLeadTime": {
          "description": "The number of days it will take any node to ship the item after a ship advice is sent. It is defaulted from the Rule Set Field Name (). The release process will this value, or the scheduled node's lead time (setup at ship node level), whichever is greater.",
          "type": "string"
        },
        "ApptStatus": {
          "description": "This field is not currently used.",
          "type": "string"
        },
        "ApptWarning": {
          "description": "Displays a warning message if\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\tor\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\tfields have a Non-Null value.",
          "type": "string"
        },
        "AvailableQtyForStopDelivery": {
          "description": "The quantity available through modification rules for\n\t\t\t\t\t\t\tmaking a stop delivery request for this line.",
          "type": "string"
        },
        "AwaitingDeliveryRequest": {
          "description": "A flag to indicate if the order line is awaiting for\n\t\t\t\t\t\t\ta Delivery service association.",
          "type": "string"
        },
        "Awards": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Awards"
        },
        "BackorderNotificationQty": {
          "description": "The backordered quantity for which the last customer notification was sent.",
          "type": "string"
        },
        "BundleComponents": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.BundleComponents"
        },
        "BundleOverallTotals": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.BundleOverallTotals"
        },
        "BundleParentLine": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.BundleParentLine"
        },
        "BuyerMarkForNodeId": {
          "description": "Mark For Node as identified by the buyer for eg: it could be a person,store,DC.",
          "type": "string"
        },
        "BuyerReceivingNodeId": {
          "description": "Receiving node as identified by the buyer for eg:Store,DC Number.",
          "type": "string"
        },
        "CanAddServiceLines": {
          "description": "this flag indicates whether the product line can be associated with service lines.",
          "type": "string"
        },
        "CapacityAllocations": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.CapacityAllocations"
        },
        "CarrierAccountNo": {
          "description": "The customers carrier account number.",
          "type": "string"
        },
        "CarrierServiceCode": {
          "description": "The carrier service code for this order line.",
          "type": "string"
        },
        "ChainedFromOrderHeaderKey": {
          "description": "The order header that is associated with this chained order line. If this line is chained from another order line, this key will point to the parent order line's header record.",
          "type": "string"
        },
        "ChainedFromOrderLineKey": {
          "description": "The order line that is associated with this chained order line. If this line is chained from another order line, this key will point to the parent order line.",
          "type": "string"
        },
        "ChildOrderLineRelationships": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ChildOrderLineRelationships"
        },
        "CommittedQuantity": {
          "description": "It is a data attribute to store the quantity that is committed by supplier.",
          "type": "string"
        },
        "ComputedPrice": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ComputedPrice"
        },
        "ConditionVariable1": {
          "description": "A user defined variable that can be used for condition building in process modeling.",
          "type": "string"
        },
        "ConditionVariable2": {
          "description": "A user defined variable that can be used for condition building in process modeling.",
          "type": "string"
        },
        "ConfigurationKey": {
          "description": "This field is used by Sterling Multi-Channel Selling Solution so that Visual Modeler can be opened with existing options.",
          "type": "string"
        },
        "CustomAttributes": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.CustomAttributes"
        },
        "CustomerLinePONo": {
          "description": "The buyer PO line number.",
          "type": "string"
        },
        "CustomerPONo": {
          "description": "The buyer's PO number.",
          "type": "string"
        },
        "DeliveryAssociations": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.DeliveryAssociations"
        },
        "DeliveryCode": {
          "description": "This field indicates who will pay the freight. Application understands values such as SUPPLIER, ENTERPRISE and MARKETPLACE to mean that each of these organizations will pay for the freight. You could however pass any other value which is a valid shipment charge type as understood by the carrier by which the shipment is transported. See YFS_SHIPMENT_CONTAINER.carrier_payment_type for additional information.",
          "type": "string"
        },
        "DeliveryMethod": {
          "description": "The delivery method for the product line.",
          "type": "string"
        },
        "DepartmentCode": {
          "description": "This field can be used for line classification and reporting purposes.",
          "type": "string"
        },
        "DependencyShippingRule": {
          "description": "This field indicates whether any order lines are dependant on the parent order line. This field can only be specified for the parent line. If this field is specified, it is defaulted on all of the dependant lines. This field is ignored if it is specified on a dependant line.",
          "type": "string"
        },
        "DependentOnLineKey": {
          "description": "The order line key that this order line is associated with. This field will indicate which order line is the parent of the the order line for line dependencies.",
          "type": "string"
        },
        "DerivedFromOrder": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.DerivedFromOrder"
        },
        "DerivedFromOrderHeaderKey": {
          "description": "The order header that is associated with this derived order line. If this line was derived from another order line, this key will point to the parent order line's header record.",
          "type": "string"
        },
        "DerivedFromOrderLine": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.DerivedFromOrderLine"
        },
        "DerivedFromOrderLineKey": {
          "description": "The order line that is associated with this derived order line. If this line was derived from another order line, this key will point to the parent order line.",
          "type": "string"
        },
        "DerivedFromOrderReleaseKey": {
          "description": "The order release that this derived order line is associated with. If this line was derived from another order line, this key will point to the parent order release record.",
          "type": "string"
        },
        "DispositionCode": {
          "description": "The disposition code for the return line.",
          "type": "string"
        },
        "DistributionRuleId": {
          "description": "the identifier of the distribution group that is used to determine the ship node(s) that will ship the order line. If not proviFded, the seller organization's default distribution rule ID is used. If provided, it must be a valid ID for the Seller organization.",
          "type": "string"
        },
        "FillQuantity": {
          "description": "The minimum order line quantity that must be fulfilled in an order release before it is shipped.",
          "type": "string"
        },
        "FirstIterationSeqNo": {
          "description": "The first iteration sequence for which this line is applicable. If Null, it is assumed that the line applies to all sequences before LastIterationSeqNo. Default is Null.",
          "type": "string"
        },
        "FreightTerms": {
          "description": "Indicates Freight Terms for the line.",
          "type": "string"
        },
        "FulfillmentType": {
          "description": "The method of fulfilling the order line during scheduling. This field can be matched with the corresponding field in the YFS_SOURCING_RULE_HDR table and the appropriate sourcing rule can be selected.",
          "type": "string"
        },
        "FutureAvailabilityDate": {
          "description": "Thie field indicates when inventory for the product line will be available.",
          "type": "string"
        },
        "GiftFlag": {
          "description": "This flag indicates whether the order line is a gift item.",
          "type": "string"
        },
        "GiftWrap": {
          "description": "This field indicates if the order line has to be gift wrapped.",
          "type": "string"
        },
        "GroupSequenceNumber": {
          "description": "This field is used to assign a decimal value to each line for the purpose of sorting them in a specific sequence.",
          "type": "string"
        },
        "HasChainedLines": {
          "type": "string"
        },
        "HasDeliveryLines": {
          "description": "Indicates if the line has associated delivery lines.\n\t\t\t\t\t\t\tValid only for product lines.",
          "type": "string"
        },
        "HasDerivedChild": {
          "type": "string"
        },
        "HasServiceLines": {
          "description": "Indicates if the line has associated service lines.\n\t\t\t\t\t\t\tValid only for product lines.",
          "type": "string"
        },
        "HoldFlag": {
          "description": "This flag determines whether a hold has been placed on the order when certain hold type criteria are met. If order is on hold, default configuration will stop the shceduling and release process for the order. The flag is reset to 'N' when all the hold types have been resolved on the order and all of its order lines. Based on hold type configuration, certain transactions may not be allowed to process. Note that there is no validation made on the hold applied but this flag can be reset by the application based on hold types existed on the order. Default: N Valid Values: Y or N",
          "type": "string"
        },
        "HoldReasonCode": {
          "description": "This field is not currently used.",
          "type": "string"
        },
        "ImportLicenseExpDate": {
          "description": "The expiration date of the import license number.",
          "type": "string"
        },
        "ImportLicenseNo": {
          "description": "The import license number to be used.",
          "type": "string"
        },
        "InStorePaymentRequired": {
          "description": "This flag indicates if this order line will have its payment processed later. When set, the line's total will be added to the postponed amount. This will override tha value on the order header.",
          "type": "string"
        },
        "Instructions": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Instructions"
        },
        "IntentionalBackorder": {
          "description": "A flag to indicate if the order line should be\n\t\t\t\t\t\t\tbackordered upon creation. If passed as 'Y', the line will be\n\t\t\t\t\t\t\tbackordered even if inventory is available. This flag is ignored\n\t\t\t\t\t\t\tif reservation is mandatory.",
          "type": "string"
        },
        "InvoicedExtendedPrice": {
          "description": "The total extended price which has already been invoiced.",
          "type": "string"
        },
        "InvoicedQty": {
          "description": ".\n\t\t\t\t\t\tInvoiced quantity on the order line.",
          "type": "string"
        },
        "InvoicedQuantity": {
          "description": "Invoiced quantity on the order line.",
          "type": "string"
        },
        "IsBlindLine": {
          "description": "Indicates if the line is blind line or not.",
          "type": "string"
        },
        "IsBundleParent": {
          "description": "Indicates if Order line is bundle parent line or not.",
          "type": "string"
        },
        "IsFirmPredefinedNode": {
          "description": "This flag indicates whether the pre-defined node on the line is firm.  If IsFirmPredefinedNode is marked as N, then the node on the line is ignored during scheduling. If not passed, the value defaults to Y.",
          "type": "string"
        },
        "IsPickUpNow": {
          "description": "This flag determines whether the item is picked up now.",
          "type": "string"
        },
        "IsPriceMatched": {
          "description": "This flag determines whether price match was performed for the item.",
          "type": "string"
        },
        "Item": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Item"
        },
        "ItemDetails": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ItemDetails"
        },
        "ItemGroupCode": {
          "description": "This field indicates what kind of item is on the order line.",
          "type": "string"
        },
        "ItemIsInHand": {
          "description": "This flag determines whether the item was in hand when the return order was created.",
          "type": "string"
        },
        "ItemNotExist": {
          "description": "This field defines approval condition when item not in file is found.",
          "type": "string"
        },
        "KitCode": {
          "description": "The collection of items that form a unit. For example, a home theatre system is a unit consisting of kit components, such as a DVD player, TV, CD player, etc.",
          "type": "string"
        },
        "KitLines": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.KitLines"
        },
        "KitQty": {
          "description": "The quantity that is used to compute ordered quantity for bundle component line. It can be specified only for bundle components. If specified ordered quantity will be set to KitQty*OrderedQty of the bundle parent.",
          "type": "string"
        },
        "LastIterationSeqNo": {
          "description": "The last iteration sequence for which this line is applicable. If Null, it is assumed to go on indefinitely. Default is Null.",
          "type": "string"
        },
        "LevelOfService": {
          "description": "Indicates the level of service required for this order line.  Default is Null.",
          "type": "string"
        },
        "LineCharges": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LineCharges"
        },
        "LineInvoicedTotals": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LineInvoicedTotals"
        },
        "LineOverallTotals": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LineOverallTotals"
        },
        "LineOverallTotalsInEnterpriseCurrency": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LineOverallTotalsInEnterpriseCurrency"
        },
        "LinePriceInfo": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LinePriceInfo"
        },
        "LineRemainingTotals": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LineRemainingTotals"
        },
        "LineRemainingTotalsInEnterpriseCurrency": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LineRemainingTotalsInEnterpriseCurrency"
        },
        "LineSeqNo": {
          "description": "The order line sequence number.",
          "type": "string"
        },
        "LineTaxes": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.LineTaxes"
        },
        "LineType": {
          "description": "The line type. This field can be used in process modeling for pipeline determination, or for doing conditional processing for this line.",
          "type": "string"
        },
        "MaxLineStatus": {
          "description": "Maximum order line status among all records that\n\t\t\t\t\t\t\tbelong to an order.",
          "type": "string"
        },
        "MaxLineStatusDesc": {
          "description": "Description of maximum order line status among all\n\t\t\t\t\t\t\trecords that belong to an order.",
          "type": "string"
        },
        "MergeNode": {
          "description": "The node where two or more order lines that are to be delivered together should be merged before the final delivery. This field is required when the DependancyShippingRule is set to '02'.  Additionally this field will indicate forwarding location for zone skipping.",
          "type": "string"
        },
        "MinLineStatus": {
          "description": "Minimum order line status among all records that\n\t\t\t\t\t\t\tbelong to an order.",
          "type": "string"
        },
        "MinLineStatusDesc": {
          "description": "Description of minimum order line status among all\n\t\t\t\t\t\t\trecords that belong to an order.",
          "type": "string"
        },
        "MinShipByDate": {
          "description": "The preferred minimum ship by date of the available supply that order line can allocate against.  This only applies to the order line or kit line with time-sensitive item.",
          "type": "string"
        },
        "MultipleStatusesExist": {
          "description": "If order line is in more than one status then this\n\t\t\t\t\t\t\tflag will be returned as \"Y\".",
          "type": "string"
        },
        "Notes": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Notes"
        },
        "OpenQty": {
          "description": "Total quantity that can be cancelled from the line.",
          "type": "string"
        },
        "Order": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Order"
        },
        "OrderApprovalDetails": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderApprovalDetails"
        },
        "OrderDates": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderDates"
        },
        "OrderHeaderKey": {
          "description": "The order header that this order line is associated with.",
          "type": "string"
        },
        "OrderHoldTypes": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderHoldTypes"
        },
        "OrderLineInvAttRequest": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderLineInvAttRequest"
        },
        "OrderLineKey": {
          "description": "The primary key for the YFS_ORDER_LINE table.",
          "type": "string"
        },
        "OrderLineOptions": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderLineOptions"
        },
        "OrderLineReservations": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderLineReservations"
        },
        "OrderLineSourcingControls": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderLineSourcingControls"
        },
        "OrderLineTranQuantity": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderLineTranQuantity"
        },
        "OrderOverride": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderOverride"
        },
        "OrderStatuses": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.OrderStatuses"
        },
        "OrderedQty": {
          "description": "The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.",
          "type": "string"
        },
        "OrigOrderLineKey": {
          "description": "The line from which this line was created (split process).",
          "type": "string"
        },
        "OriginalOrderedQty": {
          "description": "The quantity which was ordered at order creation. This is not modified after order confirmation.",
          "type": "string"
        },
        "OtherCharges": {
          "description": "The sum of all the line level charges.",
          "type": "string"
        },
        "OverallStatus": {
          "description": "A description of the order line's overall status determined by the .",
          "type": "string"
        },
        "PackListType": {
          "description": "The code indicating the type of packlist to be used for the line. Lines requiring different pack lists are not mixed in a single order release.",
          "type": "string"
        },
        "ParentOfDependentGroup": {
          "description": "This flag indicates whether this line is a parent of a dependency group.",
          "type": "string"
        },
        "ParentOrderLineRelationships": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ParentOrderLineRelationships"
        },
        "PersonInfoMarkFor": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.PersonInfoMarkFor"
        },
        "PersonInfoShipTo": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.PersonInfoShipTo"
        },
        "PersonalizeCode": {
          "description": "The code for personalization.",
          "type": "string"
        },
        "PersonalizeFlag": {
          "description": "This flag indicates whether this line needs personalization.",
          "type": "string"
        },
        "PickableFlag": {
          "description": "This field is used internally.",
          "type": "string"
        },
        "PipelineKey": {
          "description": "The pipeline that this order line belongs to.",
          "type": "string"
        },
        "PrimeLineNo": {
          "description": "The order line number.",
          "type": "string"
        },
        "ProcureFromNode": {
          "description": "The procurement node that is associated with this order line. The order line should be procured from that node if the products or services cannot be sourced from the shipnode specified on the order line.",
          "type": "string"
        },
        "ProductAssociations": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ProductAssociations"
        },
        "ProductItems": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ProductItems"
        },
        "PromisedApptEndDate": {
          "description": "The promised end date of the appointment.",
          "type": "string"
        },
        "PromisedApptStartDate": {
          "description": "The promised start date of the appointment.",
          "type": "string"
        },
        "Promotions": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Promotions"
        },
        "Purpose": {
          "description": "This field is passed out in the Tax calculation user exits.",
          "type": "string"
        },
        "ReceivingNode": {
          "description": "The receiving node that is associated with this order line.",
          "type": "string"
        },
        "References": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.References"
        },
        "RemainingQty": {
          "description": "Remaining quantity.",
          "type": "string"
        },
        "ReqCancelDate": {
          "description": "The requested cancel date. If not provided, this field is defaulted from the order header during order creation. Refer to the YFS_ORDER_HEADER table for more details.",
          "type": "string"
        },
        "ReqDeliveryDate": {
          "description": "The requested delivery date. If not provided, this field is defaulted from the order header during order creation. Refer to the YFS_ORDER_HEADER table for more details.",
          "type": "string"
        },
        "ReqShipDate": {
          "description": "The requested ship date. If not provided, this field is defaulted from the order header during order creation. Refer to the YFS_ORDER_HEADER table for more details.",
          "type": "string"
        },
        "ReservationID": {
          "description": "The reservation ID. If this item was reserved before order creation, pass an ID to associate the line with the reservation.",
          "type": "string"
        },
        "ReservationMandatory": {
          "description": "This flag indicates whether this line can be created without a reservation. If set to Y, creation of this line or any quantity addition to this line will be allowed only if the quantity can be reserved. If a ProcureFromNode is also present on the line, then the reservation will be carried out on the procure from node.",
          "type": "string"
        },
        "ReservationPool": {
          "description": "The reservation identifier. If this item was reserved before order creation, pass an ID to associate the line with the reservation.",
          "type": "string"
        },
        "ReshipParentLineKey": {
          "description": "The order line key of the parent line that this line was created as a reshipment of.",
          "type": "string"
        },
        "ReturnPolicyViolations": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ReturnPolicyViolations"
        },
        "ReturnReason": {
          "description": "The reason for returning the order line.",
          "type": "string"
        },
        "ReturnReasonLongDesc": {
          "description": "Long description of the return reason code.",
          "type": "string"
        },
        "ReturnReasonShortDesc": {
          "description": "Short description of the return reason code.",
          "type": "string"
        },
        "ReturnableQty": {
          "description": "Quantity of item that could be returned from this line at its current status.",
          "type": "string"
        },
        "SCAC": {
          "description": "The carrier to be used for this line.",
          "type": "string"
        },
        "ScacAndService": {
          "description": "Value of SCAC and Service code.",
          "type": "string"
        },
        "ScacAndServiceKey": {
          "description": "Link to YFS_SCAC_AND_SERVICE table.",
          "type": "string"
        },
        "SchedFailureReasonCode": {
          "description": "The reason for which schedule has failed on this order line.",
          "type": "string"
        },
        "Schedules": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Schedules"
        },
        "Segment": {
          "description": "The segment of the inventory.",
          "type": "string"
        },
        "SegmentType": {
          "description": "The segment type of the inventory.",
          "type": "string"
        },
        "SerialNo": {
          "description": "The serial number of the item.",
          "type": "string"
        },
        "ServiceAssociations": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ServiceAssociations"
        },
        "ShipNode": {
          "description": "The ship node that is associated with this order line. If provided, all releases will be made against this node.",
          "type": "string"
        },
        "ShipToID": {
          "description": "The ship to identifier.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.",
          "type": "string"
        },
        "ShipToKey": {
          "description": "The ship to address that is associated with this order line. If not provided, it is defaulted from order header.",
          "type": "string"
        },
        "ShipTogetherNo": {
          "description": "This field is not currently used.",
          "type": "string"
        },
        "ShipmentConsolidationGroupId": {
          "description": "It is a consolidation group id  that is used as a standard do not mix constraint.Releases belonging to same shipment consolidation group may consolidate to same shipment.",
          "type": "string"
        },
        "Shipnode": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.Shipnode"
        },
        "SourceFromOrganization": {
          "description": "This field is not currently used.",
          "type": "string"
        },
        "SplitQty": {
          "description": "The quantity which has been split from this line due to substitutions, price negotiations etc.",
          "type": "string"
        },
        "Status": {
          "description": "Status description of the order line.",
          "type": "string"
        },
        "StatusQuantity": {
          "description": "Quantity on the order line in the current status.",
          "type": "string"
        },
        "SubLineNo": {
          "description": "The sub line number.",
          "type": "string"
        },
        "SubstituteItemID": {
          "description": "Substituted ItemID. This field is only populated if\n\t\t\t\t\t\t\tthe item on the Order line is substituted. This field is\n\t\t\t\t\t\t\tdeprecated, see OverrideItemID on the OrderStatus/Details\n\t\t\t\t\t\t\telement.",
          "type": "string"
        },
        "SubstituteItemUOM": {
          "description": "Substituted Item UOM. This field is only populated if\n\t\t\t\t\t\t\tthe item on the Order line is substituted. This field is\n\t\t\t\t\t\t\tdeprecated, see OverrideItemID on the OrderStatus/Details\n\t\t\t\t\t\t\telement.",
          "type": "string"
        },
        "Timezone": {
          "description": "The timezone in which the promised appointment has been recorded.",
          "type": "string"
        },
        "TranDiscrepancyQty": {
          "description": "The transaction discrepancy quantity.",
          "type": "string"
        },
        "WorkOrders": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.WorkOrders"
        },
        "isHistory": {
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.ChargeBreakup": {
      "properties": {
        "AwardId": {
          "description": "A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.",
          "type": "string"
        },
        "AwardType": {
          "description": "The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.",
          "type": "string"
        },
        "ChargeAmount": {
          "description": "The amount of the charge.",
          "type": "string"
        },
        "ChargeBreakupKey": {
          "description": "Primary key of charge breakup.",
          "type": "string"
        },
        "DerivedFromOrderHeaderKey": {
          "description": "The key of the order header from which this charge is derived.",
          "type": "string"
        },
        "DerivedFromOrderLineKey": {
          "description": "The key of the order line from which this charge is derived.",
          "type": "string"
        },
        "OrderHeaderKey": {
          "description": "Key of the order header to which this charge breakup belongs.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.ChargeBreakups": {
      "properties": {
        "ChargeBreakup": {
          "items": {
            "$ref": "#/definitions/com.ibm.sterling.smcfs.order.ChargeBreakup"
          },
          "type": "array"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.ChargeCategoryDetails": {
      "properties": {
        "ChargeCategoryKey": {
          "description": "Primary key of charge category.",
          "type": "string"
        },
        "ConsiderForProfitMargin": {
          "description": "Indicates if a charge is included in the profit margin calculation.",
          "type": "string"
        },
        "Description": {
          "description": "Description of charge. Used for display purposes during configuration.",
          "type": "string"
        },
        "IsBillable": {
          "description": "Indicates if a charge is billable to the customer.",
          "type": "string"
        },
        "IsDiscount": {
          "description": "Indicates if a charge category is a discount category.",
          "type": "string"
        },
        "IsRefundable": {
          "description": "Indicates if a charge is refundable during returns.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.ChargeNameDetails": {
      "properties": {
        "Description": {
          "description": "Description of a charge name.",
          "type": "string"
        }
      }
    },
    "com.ibm.sterling.smcfs.order.ChargeTranDistribution": {
      "properties": {
        "ChargeTranDistKey": {
          "description": "The primary key for the YFS_CHARGE_TRAN_DIST table.",
          "type": "string"
        },
        "DistributedAmount": {
          "description": "The amount that was distributed to the charge transaction record, DistributedToChargeTranKey, from the charge transaction record, DistributedFromChargeTranKey.",
          "type": "string"
        },
        "DistributedFromChargeTranKey": {
          "description": "The charge transaction that is associated with this charge transaction distribution.  This is the charge transaction that distributed funds.",
          "type": "string"
        },
        "DistributedFromChargeTransaction": {
          "$ref": "#/definitions/com.ibm.sterling.smcfs.order.DistributedFromChargeTransaction"
        },
        "DistributedToChargeTranKey": {
          "description": "The charge transaction that is associated with this charge transaction distribution. This is the charge transaction that funds were distributed to.",
          "type": "string"
        },
        "DistributedToChargeTransaction": {
[...]
